/* src/components/Sidebar.css */

.nav a {
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-bottom: 16px;
  padding: 8px 12px;
  border-radius: 4px;
}

.nav a:hover {
  color: #63b3ed;
  background-color: #1a202c;
}

.nav-link.active {
  background-color: #4a5568; /* màu khác cho mục đang active */
  font-weight: bold;
}
